@import url("../vendor/normalize.css");
@import url("../blocks/page/page.css");
@import url('https://fonts.cdnfonts.com/css/dm-sans');

@import url("../blocks/header/header.css");
@import url("../blocks/header/_logo/header_logo.css");
@import url("../blocks/header/_navigation/header_navigation.css");


@import url("../blocks/promo/promo.css");
@import url("../blocks/promo/_heading/promo_heading.css");

@import url("../blocks/description/description.css");
@import url("../blocks/description/_title/description_title.css");
@import url("../blocks/description/_title/_title_text/description_title_text.css");
@import url("../blocks/description/_subtitle/description_subtitle.css");
@import url("../blocks/description/_text/description_text.css");
@import url("../blocks/description/_text/_subtitle/description_text_subtitle.css");
@import url("../blocks/description/_text/_paragraph/description_text_paragraph.css");

@import url("../blocks/about/about.css");
@import url("../blocks/about/_title/about_title.css");
@import url("../blocks/about/_title/_text/about_title_text.css");
@import url("../blocks/about/_title/_line/about_title_line.css");
@import url("../blocks/about/_dark/about_dark.css");
@import url("../blocks/about/_dark/_line/about_dark_line.css");
@import url("../blocks/about/_dark/_text/about_dark_text.css");
@import url("../blocks/about/_dark/_title/about_dark_title.css");
@import url("../blocks/about/_dark/_text/_paragraph/about_dark_text_paragraph.css");
@import url("../blocks/about/_text/about_text.css");
@import url("../blocks/about/_text/_title/about_text_title.css");
@import url("../blocks/about/_text/_paragraph/about_text_paragraph.css");
@import url("../blocks/about/_bild/about_bild.css");
@import url("../blocks/about/_bild/_image/about_bild_image.css");
@import url("../blocks/about/_bild/_quote/_line/about_bild_quote_line.css");
@import url("../blocks/about/_bild/_quote/about_bild_quote.css");

@import url("../blocks/gallery/gallery.css");
@import url("../blocks/gallery/_text/gallery_text.css");
@import url("../blocks/gallery/_text/_title/gallery_text_title.css");
@import url("../blocks/gallery/_text/_subtitle/gallery_text_subtitle.css");
@import url("../blocks/gallery/_text/_paragraph/gallery_text_paragraph.css");
@import url("../blocks/gallery/_images/gallery_images.css");
@import url("../blocks/gallery/_images/_item/gallery_images_item.css");
@import url("../blocks/gallery/_images/_item/_image/gallery_images_item_image.css");
@import url("../blocks/gallery/_images/_item/_line/gallery_images_item_line.css");
@import url("../blocks/gallery/_images/_item/_quote/gallery_images_item_quote.css");


body{
    background-color: var(--Gray-6, #F2F2F2);
    color: var(--Black, #101010);
    overflow-x: hidden;
}